@media(max-height: 900px) {
    .userForm {
        max-height: 40vh;
    }
}

@media(max-height: 700px) {
    .userForm {
        max-height: 30vh;
    }
}

@media(max-width: 1800px) {
    .form__school {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .offerItem {
        max-width: 90vw;
    }

    .flex--firstLine .userAccount__box--30 {
        width: 44%;
    }

    .flex--firstLine .userAccount__box--40 {
        width: 33%;
    }

    .container--agency .userAccount__box__fullName {
        font-size: 24px;
    }

    .userAccount__course,
    .userAccount__box__language,
    .userAccount__box__attachment,
    .userAccount__box__value {
        font-size: 14px;
    }

    .loggedUserHeader__desktop {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .userAccount {
        max-width: 90vw;
    }

    .userForm2 .form__school > * {
        margin-right: 10px;
    }

    .userForm3 .form__school > * {
        margin-right: 10px;
    }

    .form__school > .deleteSchoolBtn {
        margin-left: 15px;
    }

    .userForm2 .form__school .label:first-of-type {
        width: 60%;
    }

    .userForm2 .form__school .label:nth-of-type(2) {
        width: 35%;
    }

    .userForm2 .form__school .label:nth-of-type(4),
    .userForm3 .form__school .label:nth-of-type(3) {
        margin-left: 10px;
        margin-right: 20px;
    }
}

@media(max-width: 1600px) {
    .editData__left {
        width: 350px;
        padding: 30px;
    }

    .offerItem__company,
    .offerItem__title {
        font-size: 14px;
    }

    .offerItem__localization {
        font-size: 12px;
    }

    .offerItem__buttons .btn {
        height: 38px;
        font-size: 14px;
    }

    .offerItem__buttons .btn:not(:last-child) {
        margin-right: 10px;
    }

    .offerItem__salary {
        font-size: 14px;
    }

    .offerItem__category {
        font-size: 13px;
        padding: 10px 15px;
    }

    .userAccount__box--10 {
        width: 15%;
    }

    .userAccount__box--20 {
        width: 18%;
    }

    .userAccount__box__pair {
        width: 100%;
    }

    .userAccount__school__header {
        font-size: 14px;
    }

    .userAccount__school__subheader, .userAccount__school__date {
        font-size: 12px;
    }

    .userAccount__school figure {
        width: 50px;
        height: 50px;
        flex-basis: 100%;
        max-width: 50px;
    }

    .userAccount__school figure .img {
        width: 30px;
    }

    .loggedUserHeader .logo {
        width: 90px;
    }

    .loggedUserHeader__menu {
        width: 40%;
    }

    .loggedUserHeader__userBtn figure,
    .loggedUserHeader__notificationBtn {
        width: 40px;
        height: 40px;
    }

    .loggedUserHeader__fullName,
    .loggedUserHeader__menu__item {
        font-size: 13px;
    }

    .filesUploadLabel,
    .label--rel,
    .input--situation {
        width: 750px;
        max-width: 750px !important;
    }

    .container--application .filesUploadLabel {
        max-width: 250px !important;
    }

    .editData__main__header__left__link .img {
        width: 14px;
    }

    .editData__main__header__left__link {
        font-size: 12px;
    }

    .userForm {
        padding-right: 20px;
    }

    .formBottom {
        left: 350px;
    }

    .editData__left__header {
        font-size: 22px;
    }

    .editData__left__step__text,
    .editData__left__text {
        font-size: 14px;
    }

    .editData__main {
        width: calc(100% - 350px);
        margin-left: 350px;
    }

    .userForm3 .form__school .label:first-of-type {
        width: 90%;
        max-width: none;
    }

    .editData__formWrapper__header {
        font-size: 26px;
    }

    .editData__formWrapper__subheader {
        font-size: 15px;
    }

    .btn--userForm {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
}

@media(max-width: 1400px) {
    .label--date--address > .flex {
        flex-direction: column;
    }

    .application__header {
        font-size: 16px;
    }

    .application__header--big {
        font-size: 17px;
    }

    .jobOffer__topRow,
    .jobOffer__pointsRow,
    .jobOffer__section {
        width: 100%;
    }

    .jobOffer__pointsRow {
        margin-bottom: 30px;
    }

    .jobOffer__title {
        font-size: 24px;
    }

    .jobOffer__section__gallery__item {
        height: 100px;
    }

    .jobOffer__company {
        font-size: 15px;
    }

    .offerItem__salary,
    .offerItem__salary__category {
        margin-left: 2vw;
    }

    .offerItem__requirements {
        margin: 0 3vw;
    }

    .container--addOffer .label--rel,
    .container--addOffer .label--date--address {
        max-width: none !important;
        width: 100%;
    }

    .flex--firstLine .userAccount__box__fullName {
        text-align: left;
    }

    .userForm--4c--agency .label--date__input--country {
        min-width: 190px;
    }

    .userForm--4c--agency .label--date--address > .flex {
        flex-direction: row;
    }

    .userForm .label--agencyPrice {
        max-width: 80px !important;
    }

    .flag {
        height: 20px;
        margin-left: 10px;
    }

    .userAccount__box--100 {
        padding: 30px;
    }

    .userAccount__top__btn .img {
        width: 12px;
    }

    .userAccount__box__fullName {
        font-size: 24px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .userAccount__box__right__item,
    .userAccount__box__downloadCV,
    .btn--whatsApp,
    .btn--writeMessage,
    .userAccount__top__btn {
        font-size: 13px;
    }

    .userAccount__box__mainData__text,
    .userAccount__top__loginInfo {
        font-size: 12px;
    }

    .loggedUserHeader__fullName {
        display: none;
    }

    .loggedUserHeader__menu {
        width: 50%;
    }

    .loggedUserHeader__userDropdownMenu {
        width: 150px;
        left: unset;
        right: 0;
        transform: translate(0, 100%);
    }

    .loggedUserHeader__userBtn .arrowImg {
        margin-left: 15px;
    }

    .label--date--address > .flex > *,
    .label--date--address > .flex > * > *
    {
        width: 100%;
    }

    .userForm--4a--agency .label--date--address > .flex {
        flex-direction: row;
    }

    .userForm--4a--agency:not(.userForm--4b--agency) .label--date--address > .flex > *,
    .userForm--4a--agency:not(.userForm--4b--agency) .label--date--address > .flex > * > * {
        width: unset;
    }

    .label--date--address > .flex > * {
        margin-bottom: 10px;
    }

    .label--agencyPrice__arrows {
        width: 10px !important;
    }

    .languagesWrapper {
        width: 90%;
    }

    .drivingLicenceWrapper--tools {
        max-width: 90% !important;
    }

    .userForm--5d .label {
        max-width: 90%;
    }

    .filesUploadLabel,
    .input--situation {
        max-width: 100% !important;
    }

    .label--rel {
        max-width: 90% !important;
    }

    .userForm--1--agency .label--date--address .flex label:first-of-type {
        width: 100%;
        margin: 5px 0;
    }

    .userForm--1--agency .label--date--address .flex {
        align-items: flex-start;
    }

    .userForm--1--agency .label--date--address .flex label:last-of-type {
        margin-left: 0;
    }
}

@media(max-width: 1200px) {
    .addNewBtn {
        width: 400px;
    }

    .application__section:first-child .flex--start {
        flex-wrap: wrap;
    }

    .btn--applicationSubmit {
        font-size: 15px;
        height: 45px;
    }

    .jobOffer__topRow__content {
        padding-left: 220px;
    }

    .jobOffer__section__text > span,
    .jobOffer__section__text,
    .jobOffer__point {
        font-size: 14px;
    }

    .btn--jobOfferApply {
        height: 35px;
        font-size: 14px;
        width: 160px;
    }

    .offerItem__buttons--user .btn:not(:last-child) {
        margin-right: 0;
    }

    .userAccount__top__jobOffersHeader {
        font-size: 24px;
    }

    .container--agencyJobOffers .userAccount__top {
        padding: 25px 0;
    }

    .offerItem__date {
        left: 50%;
        transform: translateX(-50%);
        right: unset;
    }

    .offerItem__buttons {
        flex-direction: column;
    }

    .offerItem__buttons > * {
        margin: 0 0 10px 0;
        width: 120px;
    }

    .fullScreenGallery__inner .img {
        max-width: 70vw;
    }

    .container--agency .userAccount__box--20 {
        width: 20%;
    }

    .userForm--4c--agency .label--flex.salary {
        flex-direction: column;
    }

    .userForm--4c--agency .label--flex.salary > *:first-child {
        margin-bottom: 20px;
    }

    .userForm--4b--agency .label--date__input--country {
        min-width: 192px;
    }

    .container--agency__grid {
        flex-direction: column;
    }

    .container--agency__grid .flex,
    .container--agency__grid > *,
    .container--agency__grid > * > * {
        width: 100%;
    }

    .userAccount__box--20 {
        width: 49%;
    }

    .userAccount__box--40 {
        width: 75%;
    }

    .userAccount__box--10 {
        width: 23%;
    }

    .userAccount__box__fullName {
        font-size: 21px;
    }

    .userAccount__box__left figure {
        height: 150px;
    }

    .loggedUserHeader__notificationBtn {
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }

    .loggedUserHeader__desktop {
        padding: 30px 5vw;
    }

    .loggedUserHeader__menu {
        width: 55%;
    }

    .loggedUserHeader__menu__item {
        font-size: 12px;
    }

    .userForm .label--friendLink {
        max-width: 400px;
    }

    .datepicker--year {
        width: 100px;
    }

    .userForm .label--date {
        max-width: 470px;
    }

    .label--special,
    .input--special {
        width: 400px;
    }
}

@media(max-width: 996px) {
    .jobOffer__backgroundImg,
    .jobOffer__topRow__right,
    .userAccount__top,
    .loggedUserHeader__desktop,
    .editData__main__header,
    .jobOffer__pointsRow .jobOffer__point:first-of-type,
    .editData__left {
        display: none;
    }

    .application__profileImage {
        margin: 0 auto 20px;
    }

    .application__header--first {
        padding-top: 20px;
        border-top: 1px solid #C1C1C1;
    }

    .application__buttons {
        flex-direction: column;
    }

    .btn--application {
        width: 100%;
        margin-bottom: 15px;
        height: 35px;
        margin-right: 0 !important;
    }

    .application__header {
        font-size: 14px;
        text-align: center;
    }

    .application {
        flex-direction: column;
        align-items: center;
    }

    .application__section {
        max-width: 400px;
        width: 100% !important;
        position: relative;
    }

    .container--offer .userAccount__top {
        padding: 25px 0 20px;
    }

    .application__section:last-of-type .label--checkbox {
        font-size: 11px;
    }

    .jobOffer {
        padding-top: 0;
    }

    .input--application {
        width: 100%;
    }

    .application__text {
        font-size: 12px;
    }

    .application {
        padding-bottom: 100px;
    }

    .btn--applicationSubmit {
        height: 40px;
        font-size: 14px;
        position: absolute;
        bottom: -60px;
        left: 0;
    }

    .application__extraInfo {
        font-size: 10px;
    }

    .container--application .flex--start .label {
        margin-bottom: 15px;
    }

    .application__section:first-child .flex--start {
        flex-direction: column;
    }

    .container--application .filesUploadLabel {
        width: 100%;
        max-width: 100% !important;
        height: 50px;
        min-height: 50px;
        padding: 10px;
    }

    .jobOffer__profileImageWrapper {
        width: 150px;
        height: 150px;
        border-width: 15px;
    }

    .jobOffer__title {
        font-size: 16px;
        margin: 15px auto 5px;
    }

    .jobOffer__company {
        font-size: 12px;
    }

    .application__section,
    .jobOffer__section,
    .jobOffer__mobileSection {
        background: #fff;
        border: 1px solid #C1C1C1;
        border-radius: 5px;
        padding: 15px;
        max-width: 400px;
        box-shadow: none;
        margin: 0 auto 20px;
    }

    .jobOffer__section__text > span, .jobOffer__section__text, .jobOffer__point {
        font-size: 13px;
    }

    .jobOffer__section__text.flex {
        flex-wrap: wrap;
    }

    .jobOffer__pointsRow {
        flex-direction: column;
        margin: 20px 0 0;
    }

    .jobOffer__point .img {
        width: 15px;
        height: auto;
    }

    .container--offer .userAccount__top__btn {
        font-size: 12px;
    }

    .jobOffer__section__text--attachments {
        min-height: 40px;
        flex-wrap: wrap;
    }

    .jobOffer__attachmentBtn {
        height: 32px;
        font-size: 12px;
    }

    .jobOffer__section:last-of-type {
        border-bottom: 1px solid #C1C1C1;
    }

    .jobOffer__section__text > span .icon {
        width: 12px;
    }

    .jobOffer__section__header {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .jobOffer__point {
        margin-bottom: 15px;
        font-size: 13px;
    }

    .btn--stickyMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        z-index: 99;
    }

    .jobOffer__point:last-child {
        margin-bottom: 0;
    }

    .jobOffer__topRow__content {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .jobOffer__mobileCategoryWrapper {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid #C1C1C1;
    }

    .jobOffer__mobileCategory {
        height: 30px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid var(--primary);
        color: var(--primary);
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .jobOffer__topRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }

    .jobOffer__profileImageWrapper {
        position: relative;
        top: 0;
    }

    .jobOffer__point--time .distance {
        padding-left: 30px;
    }

    .container--offer .userAccount__top__btn .img {
        margin-right: 7px;
    }

    .jobOffer {
        background: transparent;
        box-shadow: none;
        width: 100%;
    }

    .container--offer .mobileHeader {
        background: #FCFCFC;
    }

    .container--offer .userAccount__top {
        display: flex;
        margin-top: 60px;
    }

    .container--offer .userAccount__top .userAccount__top__loginInfo {
        display: none;
    }

    .offerItem__buttons--user .btn--white {
        width: 200px !important;
    }

    .userAccount__top--offersInfo {
        display: flex;
        justify-content: center;
        margin-top: 80px !important;
        padding-bottom: 0;
        margin-bottom: -20px !important;
    }

    .userAccount__top--offersInfo .label--date__input {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .userAccount__top--offersInfo .userAccount__top__jobOffersHeader {
        display: none;
    }

    .container--addOffer {
        background: #fff;
        padding-top: 80px;
    }

    .addOffer {
        background: transparent;
        box-shadow: none;
    }

    .addOffer__logo {
        display: none;
    }

    .addOffer__header {
        font-size: 20px;
    }

    .addOffer__text {
        font-size: 15px;
        margin-top: 8px;
    }

    .userAccount__box__left figure {
        margin-right: 0;
    }

    .flex--firstLine {
        flex-direction: column;
    }

    .container--agency .userAccount__box__fullName {
        text-align: center;
    }

    .flex--firstLine > * {
        width: 100%;
    }

    .userForm--4c--agency .label--date__input--country {
        margin-right: 20px;
    }

    .userForm .label--agencyPrice {
        margin-left: 0;
    }

    .userForm--4b--agency .label--date__input--country {
        min-width: 100%;
        width: 100%;
    }

    .carAndBikePriceInfo {
        width: auto !important;
    }

    .userForm--4b--agency .label--date--address .flex {
        flex-wrap: wrap;
    }

    .mobileSettingsBtn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 16px;
    }

    .userAccount {
        margin-top: 100px;
    }

    .userAccount__box {
        position: relative;
        width: 100% !important;
        border: 1px solid #C1C1C1;
        box-shadow: none;
        border-radius: 5px;
        min-height: 1px;
    }

    .flag:not(.flag--mobile) {
        display: none;
    }

    .flag--mobile {
        display: block;
        position: absolute;
        top: 3px;
        right: 5px;
        width: 15px;
        z-index: 5;
    }

    .userAccount__box__mainData {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .userAccount__box__mainData__buttons {
        order: -1;
        margin: 10px auto;
        border-bottom: 1px solid #C1C1C1;
        padding-bottom: 20px;
    }

    .userAccount .tooltip {
        display: none;
    }

    .userAccount__box__left {
        width: 100%;
    }

    .userAccount__box__right__item,
    .userAccount__box__right {
        justify-content: flex-start;
        padding-left: 0;
    }

    .userAccount__box__downloadCV,
    .userAccount__box__right {
        align-items: center;
    }

    .userAccount__box__downloadCV {
        margin: 10px 0;
        padding: 15px 0;
        border-top: 1px solid #C1C1C1;
        border-bottom: 1px solid#C1C1C1;
        width: 100%;
    }

    .userAccount__box__mainData__buttons .btn {
        height: 30px;
    }

    .btn--downloadCV {
        height: 30px;
    }

    .userAccount__box__fullName {
        font-weight: 500;
        order: -2;
        margin-bottom: 0;
    }

    .userAccount__box__left figure {
        height: 125px;
        margin-bottom: 20px;
        position: relative;
    }

    .userAccount__box__left,
    .userAccount__box__top {
        flex-direction: column;
        align-items: center;
    }

    .filesUploadLabel, .label--rel, .input--situation,
    .label--rel {
        width: 100%;
        max-width: 100% !important;
    }

    .editData__main {
        margin-top: 30px;
        width: 100%;
        margin-left: 0;
    }

    .editData__formWrapper__header,
    .editData__formWrapper__subheader {
        text-align: center;
    }

    .editData__steps {
        justify-content: center;
    }

    .userForm {
        height: auto;
        padding-right: 0;
        overflow-y: visible;
    }

    .userAccount__school figure .img--suitcase {
        width: 20px;
    }

    .userAccount__box__header {
        font-size: 12px;
    }

    .userAccount__school__header,
    .userAccount__box__value {
        font-size: 13px;
    }

    .userAccount__box__key {
        font-size: 10px;
    }

    .formBottom {
        position: relative;
        width: 100%;
        left: unset;
        padding-left: 0;
        justify-content: flex-end;
    }

    .userForm .label {
        max-width: 100%;
    }

    .label--flex {
        justify-content: flex-start;
    }

    .label--flex > *:not(:last-child) {
        margin-right: 10px;
    }

    .datepickerDropdown--phoneNumbers {
        flex-wrap: wrap;
    }

    .editData__main,
    .editData__left {
        height: auto;
    }

    .formBottom {
        padding-top: 0;
    }

    .btn--userForm {
        height: 35px;
        font-size: 14px;
        width: 100px;
    }

    .editData__steps .step {
        width: 40px;
        margin-right: 5px;
    }

    .editData__steps .substep {
        margin: 0 1px;
    }

    .mobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: auto;
        height: 70px;
        padding: 30px 20px 20px;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
    }

    .mobileHeader::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 40px);
        height: 1px;
        background: #C1C1C1;
    }

    .mobileHeader__logo {
        height: 100%;
        width: auto;
    }

    .mobileHeader .img {
        height: 100%;
        width: auto;
    }

    .mobileHeader__backBtn {
        width: 20px;
        background: transparent;
    }

    .container--editData {
        flex-direction: column;
    }

    .userForm--summary__header {
        font-size: 24px;
    }

    .mobileLanguageFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto 0;
        border-top: 1px solid #C1C1C1;
        padding: 10px 20px 20px;
        width: calc(100% - 40px);
    }

    .userForm--summary .btn--userForm {
        width: 150px;
    }

    .btn--widthAuto {
        padding: 8px 15px;
    }

    .userAccount__box__right__item > *:not(:last-child) {
        margin-right: 0;
    }

    .offerItem {
        border: 1px solid #C1C1C1;
        box-shadow: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        width: 90vw;
        margin-bottom: 120px;
    }

    .offerItem__left {
        width: 100%;
        justify-content: center;
    }

    .offerItem__company {
        font-size: 12px;
    }

    .offerItem__category {
        width: 100%;
        margin: 20px auto;
        text-align: center;
        max-width: 300px;
        height: 30px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offerItem__salary {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .offerItem__requirements {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 15px auto;
    }

    .offerItem__requirement {
        margin: 0 5px;
        font-size: 10px;
    }

    .offerItem__buttons {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: -60px;
        left: 0;
        width: 100%;
        height: auto;
    }

    .offerItem__buttons > * {
        font-size: 12px !important;
        width: 30% !important;
    }

    .offerItem__buttons > * .img {
        width: 10px !important;
        margin-left: 5px;
    }

    .offerItem__date {
        top: -20px;
        right: 0;
        left: unset;
        transform: none;
    }
}

@media(max-width: 768px) {
    .editData__formWrapper__header {
        font-size: 18px;
    }

    .userAccount__top--offersInfo .label--date__input > *,
    .userAccount__top--offersInfo .label--date__input {
        width: 100%;
    }

    .fullScreenGallery .slick-next, .fullScreenGallery .slick-prev {
        transform: scale(.7);
    }

    .fullScreenGallery .slick-next {
        right: 20px;
    }

    .fullScreenGallery .slick-prev {
        left: 20px;
    }

    .userAccount__box__gallery__arrow {
        display: none;
    }

    .userAccount__box__gallery {
        flex-direction: column !important;
        height: auto;
        width: 100%;
    }

    .gallery__item .overlay {
        display: none !important;
    }

    .gallery__item {
        margin-bottom: 20px;
    }

    .userAccount__box__gallery .gallery__item .img,
    .userAccount__box__gallery > * {
        width: 100% !important;
        height: auto !important;
    }

    .userAccount__box__pairsWrapper .w-100 {
        font-size: 12px;
    }

    .container--agency .userAccount__box__pair {
        width: 46%;
        margin-right: 4%;
    }

    .userForm--4c--agency .label--flex.salary > *,
    .userForm--4c--agency .label--flex.salary > * > *
    {
        width: 100%;
    }

    .socialMediaIconWrapper {
        height: 30px;
        bottom: 2px;
    }

    .userAccount__box--40 .userAccount__box__pair {
        width: 100%;
    }

    .userAccount__box__subheader {
        margin-top: 5px;
        font-size: 13px;
    }

    .userAccount__box {
        padding: 15px;
    }

    .mobileSettingsBtn {
        top: 10px;
        right: 10px;
    }

    .filesUploadLabel {
        flex-wrap: wrap;
        height: auto;
        min-height: 100px;
        padding: 25px;
    }

    .userForm--1 .filesUploadLabel {
        padding: 0;
    }

    .filesUploadLabel__item {
        margin: 15px;
    }

    .input--situation {
        height: 200px !important;
    }

    .label--extraInfo,
    .phoneNumberBtn,
    .label--date__input,
    .label,
    .editData__formWrapper__subheader {
        font-size: 12px;
    }

    .editData__main {
        padding: 30px;
    }

    .bsnInputLabel,
    .datepicker--languageLvl,
    .datepickerBtn,
    .phoneNumberBtn,
    .datepicker,
    .input {
        height: 35px;
    }

    .btn--widthAuto {
        min-height: 35px !important;
    }

    .datepicker--languageLvl {
        width: 65px;
    }

    .label--special, .input--special {
        max-width: 100%;
    }

    .languagesWrapper .label--checkbox {
        width: 48%;
        margin-right: 0;
    }

    .userForm--4b--agency .drivingLicenceWrapper .label--date__input--drivingLicence,
    .userForm--4b--agency .drivingLicenceWrapper .label--date__input--drivingLicence .datepicker--country ~ .datepickerDropdown,
    .userForm--4b--agency .drivingLicenceWrapper .label--date__input--drivingLicence .datepicker--country ~ .datepickerDropdown .datepickerBtn,
    .userForm--4b--agency .drivingLicenceWrapper .label--date__input--drivingLicence .datepicker
    {
        width: 100%;
        max-width: 100% !important;
    }

    .label--agencyPrice__arrows {
        height: 90%;
    }

    .userForm--4a--agency:not(.userForm--4b--agency) .label--date__input,
    .userForm--4a--agency:not(.userForm--4b--agency) .label--date__input > *
    {
        width: 100% !important;
    }

    .container--addOffer .label--responsibility .input {
        max-width: 88%;
        margin-right: 10px;
    }

    .container--addOffer .btn--login {
        font-size: 14px;
    }

    .container--addOffer .btn--login .img {
        width: 12px;
    }

    .filesUploadLabel__item .fileName {
        height: 35px;
    }
}

@media(max-width: 576px) {
    .editData__main {
        padding: 30px 20px;
    }

    .application__success .application__header {
        max-width: 90%;
        margin: auto;
    }

    .application__success .buttons {
        flex-direction: column;
    }

    .application__success .buttons .btn {
        height: 35px;
        width: 100%;
        font-size: 13px;
        padding: 5px 10px;
        margin: 0 0 10px;
    }

    .container--application .filesUploadLabel__item .fileName {
        max-width: 150px;
    }

    .addOfferSuccess .flex {
        flex-direction: column;
    }

    .addOfferSuccess > .flex {
        width: 100%;
        margin-top: 25px;
    }

    .addOfferSuccess .flex .btn--white {
         margin-top: 15px;
    }

    .addOfferSuccess .flex .btn {
        font-size: 14px;
        height: 35px;
    }

    .addOffer {
        margin-bottom: 0;
    }

    .container--addOffer .drivingLicenceWrapper .label--flex.flex--start {
        flex-direction: column;
    }

    .container--addOffer .drivingLicenceWrapper .label--flex.flex--start .datepicker,
    .container--addOffer .drivingLicenceWrapper .label--flex.flex--start > * {
        width: 100%;
        max-width: 100%;
    }

    .container--addOffer .drivingLicenceWrapper .label--flex.flex--start > * {
        margin-bottom: 12px;
    }

    .addOffer {
        padding: 20px 0;
    }

    .addOffer__header {
        font-size: 16px;
    }

    .addOffer__text {
        font-size: 12px;
    }

    .container--addOffer .filesUploadLabel__item {
        height: 35px;
    }

    .fullScreenGallery__close {
        font-size: 32px;
        top: 15px;
        right: 15px;
    }

    .fullScreenGallery .slick-next {
        right: 5px;
    }

    .fullScreenGallery .slick-prev {
        left: 5px;
    }

    .fullScreenGallery__inner .img {
        max-width: 55vw;
    }

    .userForm--4c--agency .label--date--address .flex {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .userForm--4c--agency .label--date--address .label--date__input--country {
        min-width: 100%;
    }

    .userForm--4c--agency .label--date--address .label--date__input--currency {
        width: auto;
        min-width: 80px;
    }

    .userForm .label--agencyPrice {
        max-width: 80px !important;
    }

    .userForm--4a--agency .label--date--address > .flex > *,
    .userForm--4a--agency .label--date--address > .flex > * > *
    {
        width: 100%;
        margin-left: 0;
    }

    .userForm--4a--agency:not(.userForm--4b--agency) .label--date--address > .flex {
        flex-direction: column;
    }

    .userAccount__box__fullName {
        font-size: 16px;
    }

    .userForm--summary__header {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
    }

    .userForm--summary__buttons {
        flex-direction: column;
    }

    .userForm--summary .btn--userForm {
        width: 100% !important;
        margin: 5px 0 !important;
        text-align: center;
    }

    .bsnInputLabel {
        padding: 6px;
    }

    .bsnInputWrapper {
        width: calc(100% - 100px);
    }

    .userForm--5a .label--date--address {
        margin-bottom: 0;
    }

    .userForm--5a .drivingLicenceWrapper {
        margin-top: 10px;
    }

    .datepicker--month {
        width: 130px;
    }

    .datepicker--day {
        width: 60px;
    }

    .datepicker--year {
        width: 85px;
    }

    .userForm2 .form__school .label:first-of-type,
    .userForm2 .form__school .label:nth-of-type(2),
    .userForm2 .datepicker--country {
        width: 100%;
        margin-right: 0;
    }

    .label--date__input--education {
        margin-bottom: 20px;
    }

    .userForm2 .datepicker--country ~ .datepickerDropdown {
        width: 100%;
    }

    .form__school .label {
        width: 70px;
    }

    .addNewBtn {
        width: 100%;
        font-size: 12px;
        text-align: left;
    }

    .addNewBtn .img {
        margin-left: 15px;
    }

    .deleteSchoolBtn {
        margin-left: 3px;
        width: 15px;
    }

    .form__school > .deleteSchoolBtn {
        margin-right: 0;
    }

    .userForm2 .form__school .label:nth-of-type(4) {
        margin-right: 15px;
    }

    .form__job .label--responsibility .deleteSchoolBtn {
        margin-left: 10px;
    }

    .userForm2 .form__school {
        margin-bottom: 20px;
    }

    .userForm3 .form__school .label:first-of-type {
        width: 100%;
        margin-right: 0;
    }

    .label--date__input--category,
    .label--category .datepicker--category {
        width: 270px;
    }

    .formBottom > .center {
        margin-top: 5px;
    }

    .formBottom > .center > div {
        width: 30px;
    }
}

@media(max-width: 350px) {
    .form__school .label {
        width: 100px;
    }

    .form__school {
        margin-bottom: 20px;
    }
}

@media(max-width: 340px) {
    .label--flex {
        flex-wrap: wrap;
    }

    .label--flex > * {
        margin-bottom: 10px;
    }

    .form__job .label--responsibility .input {
        max-width: 85%;
    }

    .offerItem__buttons--user .btn--white {
        width: 170px !important;
    }
}
