@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #0A73FE;
    --hover: #0862ED;
    --grey: #888888;
}

.container {
    position: relative;
}

.noscroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.noscroll::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

button,
a {
    cursor: pointer;
    outline: none;
    color: inherit;
    border: none;
    text-decoration: none;
    transition: .2s all;
}

input {
    outline: none;
}

.w-1400 {
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.bold {
    font-weight: 700;
}

.img {
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--home {
    width: 100%;
    overflow-x: hidden;
}

.homeImg {
    min-width: 100%;
    width: auto;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home__header {
    padding-top: 50px;
}

.home__header__logo {
    width: 210px;
    height: auto;
    display: block;
}

.home__header__menu {
    width: 50%;
}

.home__header__menu__item {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.home__header__menu__item:hover {
    opacity: .8;
}

.btn {
    background: var(--primary);
    color: #fff;
    border-radius: 5px;
}

.btn:hover {
    background: var(--hover);
}

.btn--quickLogin {
    width: 160px;
    height: 38px;
    font-size: 13px;
    border-radius: 3px;
}

.btn--quickLogin .img {
    width: 18px;
    margin-right: 6px;
}

.home__h1 {
    text-align: center;
    width: 982px;
    margin: 160px auto 60px;
    font-size: 42px;
    color: #fff;
}

.home__content {
    flex-wrap: wrap;
    width: 1035px;
    margin: auto;
    padding: 0 0 200px;
}

.home__h2 {
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
    color: #fff;
}

.home__zone {
    width: 48%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

.home__zone__header {
    font-size: 52px;
    font-weight: 400;
}

.home__zone__header > span {
    font-weight: 700;
    display: block;
}

.home__zone__subheader {
    margin: 10px 0 20px;
    font-size: 14px;
    font-weight: 400;
    color: #888888;
}

.home__zone__instruction {
    justify-content: flex-start;
}

.home__zone__instruction:hover .smallArrow {
    transform: translateX(2px);
}

.home__zone__instruction .img {
    width: 40px;
    margin-right: 15px;
}

.home__zone__instruction__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.home__zone__instruction__text > * {
    font-size: 12px;
}

.home__zone__instruction__text__dark {
    color: #888888;
}

.home__zone__instruction__text__light {
    color: var(--primary);
    font-weight: 700;
}

.btn--zone {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.btn--zone .img {
    margin-left: 15px;
    width: 20px;
    transition: .2s all;
}

.smallArrow {
    transition: .2s all;
    width: 10px;
    margin-left: 10px;
}

.btn--zone:hover .img {
    transform: translateX(3px);
}

.login__left {
    width: 50%;
    padding: 50px 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
}

.login__right {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
}

.login__left__header__logo {
    width: 200px;
}

.login__left__header__backBtn {
    color: var(--grey);
}

.login__left__header__backBtn > .img {
    width: 20px;
    margin-right: 12px;
    transition: .2s all;
}

.login__left__header__backBtn:hover > .img {
    transform: translateX(-3px);
}

.login__header {
    font-size: 32px;
    margin-bottom: 40px;
}

.login__left__content {
    width: 100%;
}

.label {
    color: #C1C1C1;
    font-size: 14px;
    width: 100%;
    text-transform: uppercase;
    display: block;
}

.input {
    border: 1px solid var(--primary);
    border-radius: 5px;
    height: 50px;
    width: 100%;
    margin-top: 4px;
    padding: 5px 12px;
    transition: .2s all;
}

.input:active, .input:focus {
    border-width: 2px;
}

.label {
    margin-bottom: 20px;
}

.btn--login {
    width: 100%;
    height: 50px;
    font-size: 18px;
}

.btn--login .img {
    width: 24px;
    margin-left: 12px;
}

.login__bottom {
    margin-top: 20px;
}

.login__bottom > a {
    color: var(--grey);
    text-decoration: underline;
    font-size: 14px;
}

.login__bottom > a:hover {
    opacity: .8;
}

.login__left__bottom__links {
    justify-content: flex-start;
}

.login__left__bottom__links a {
    color: var(--grey);
    font-size: 14px;
    margin-right: 35px;
}

.login__left__bottom__links a:hover {
    opacity: .8;
}

.languageSwitcher {
    width: 64px;
    position: relative;
}

.languageSwitcher__currentLang .img,
.languageSwitcher__btn .img {
    width: 25px;
    margin-right: 10px;
}

.languageSwitcher__currentLang,
.languageSwitcher__btn {
    background: transparent;
}

.languageSwitcher__languages {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
}

.languageSwitcher .arrowDown {
    width: 7px;
    margin-left: 10px;
}

.container--home .languageSwitcher * {
    color: #fff;
}

.container--home .languageSwitcher .arrowDown {
    filter: brightness(0) invert(1);
}

.languageSwitcher--horizontal .languageSwitcher__languages {
    right: 0;
    transform: translateX(-70px);
    display: flex;
}

.languageSwitcher--horizontal .languageSwitcher__languages .languageSwitcher__btn {
    margin-right: 15px;
}

.registerImg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    height: auto;
    z-index: -1;
}

.container--register {
    height: 100vh;
    min-height: 900px;
    overflow: hidden;
}

.register {
    display: block;
    background: #fff;
    width: 850px;
    height: 850px;
    border-radius: 5px;
    padding: 50px;
}

.register__header {
    font-size: 32px;
    margin: 30px 0 10px;
}

.register__subheader {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;
}

.register__link {
    font-size: 14px;
    text-align: center;
    margin: 20px auto;
    text-decoration: underline;
    color: var(--grey);
    display: block;
}

.register__link:hover {
    opacity: .8;
}

.register__accountType {
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--primary);
    padding: 5px 15px;
    color: #000;
    font-size: 15px;
    width: 100%;
    height: 50px;
}

.register__accountType .img {
    width: 10px;
    margin-left: 25px;
}

.register .label {
    position: relative;
}

.register__accountType--dropdown {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background: #fff;
    z-index: 3;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.register__accountType--dropdown:hover {
    background: #efefef;
}

.label--flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox {
    border-radius: 2px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid var(--primary);
    margin-right: 10px;
    padding: 0;
}

.label--checkbox {
    font-size: 12px;
    color: #000;
    cursor: pointer;
    text-transform: none;
    justify-content: flex-start !important;
}

.label--checkbox a {
    text-decoration: underline;
    padding: 0 5px;
}

.label--checkbox a:hover {
    opacity: .8;
}

.checkbox span {
    display: none;
}

.label--checkbox--selected .checkbox > span,
.checkbox--selected > span {
    width: 7px;
    height: 7px;
    display: block;
    background: var(--primary);
}

.register__logo {
    width: 190px;
}

.register .login__left__bottom {
    margin-top: 45px;
}
.register .login__left__bottom__links a {
    text-decoration: underline;
}

.register--after {
    height: 570px;
}

.register--after .register__subheader {
    margin: 15px 0;
}

.register--after .btn--login {
    margin-top: 35px;
}

.btn--neutral {
    background: #F3F9FB;
    color: #000;
    height: 50px;
    margin-top: 15px;
}

.btn--neutral:hover {
    background: #E2E7E9 !important;
}

.register--verification {
    height: 490px;
}

.register__header .check {
    margin-left: 20px;
    width: 40px;
}

.info {
    font-size: 13px;
    text-align: center;
    display: block;
    margin: 15px auto;
}

.info--error {
    color: red;
    font-weight: 600;
}

.container--loader {
    width: 100%;
    height: 100vh;
}

.editData__left {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 500px;
    padding: 50px 80px;
    background: var(--primary);
    height: 100vh;
}

.editData__left * {
    color: #fff;
}

.editData__main {
    margin-left: 500px;
    height: 100vh;
    padding: 60px 80px;
    width: calc(100vw - 500px);
}

.editData__left__logo {
    width: 150px;
    display: block;
}

.editData__left__header {
    font-size: 32px;
    margin-top: 100px;
}

.editData__left__text {
    margin: 20px 0 70px;
}

.editData__step {
    position: relative;
    justify-content: flex-start;
    opacity: .5;
    transition: .2s opacity;
    margin-bottom: 50px;
}

.editData__step--current {
    opacity: 1;
}

.editData__step:not(:last-of-type)::after {
    content: "";
    width: 1px;
    height: 30px;
    border-left: 1px dashed #fff;
    opacity: .8;
    position: absolute;
    bottom: -10px;
    left: 16px;
    transform: translateY(100%);
}

.editData__left__step__number {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #fff;
    margin-right: 20px;
    font-size: 14px;
}

.editData__main__header__left__link {
    justify-content: flex-start;
    color: var(--grey);
    font-size: 14px;
    margin-bottom: 15px;
}

.editData__main__header__left__link:hover {
    opacity: .8;
}

.editData__main__header__left__link .img {
    width: 18px;
    margin-right: 10px;
}

.editData__formWrapper {
    margin: 50px 0 0;
}

.editData__steps {
    justify-content: flex-start;
}

.editData__steps .step {
    width: 90px;
    height: 1px;
    margin-right: 13px;
}

.editData__steps .step:last-of-type {
    margin-right: 0;
}

.editData__steps .substep {
    flex-basis: 100%;
    height: 100%;
    margin: 0 2px;
    background: #C1DCFF;
}

.step--current .substep--current {
    background: var(--primary);
}

.editData__formWrapper__header {
    font-size: 36px;
    margin: 30px 0 15px;
}

.editData__formWrapper__subheader {
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.userForm {
    height: 570px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #C1DCFF;
}

.userForm::-webkit-scrollbar {
    /*display: none;  !* Safari and Chrome *!*/
}

.userForm::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.userForm::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.userForm::-webkit-scrollbar-thumb {
    background: var(--primary);
    border: 33px none #ffffff;
    border-radius: 36px;
}
.userForm::-webkit-scrollbar-thumb:hover {
    background: var(--hover);
}
.userForm::-webkit-scrollbar-thumb:active {
    background: var(--hover);
}
.userForm::-webkit-scrollbar-track {
    background: #C1DCFF;
    border: 49px none #C1DCFF;
    border-radius: 50px;
}
.userForm::-webkit-scrollbar-corner {
    background: transparent;
}

.userForm .label {
    max-width: 720px;
}

.label--flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
}

.datepicker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--primary);
    background: transparent;
    color: #000;
}

.datepicker .dropdown {
    width: 10px;
    margin-left: 15px;
}

.datepicker--day {
    width: 75px;
}

.userForm .label--date {
    max-width: 570px;
}

.label--date__input {
    position: relative;
}

.datepickerDropdown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    max-height: 250px;
    overflow-y: scroll;
    background: #F3F9FB;
    border: 1px solid var(--primary);
    z-index: 5;
}

.datepickerBtn {
    width: 100%;
    height: 45px;
    color: #000;
    background: transparent;
    transition: .2s all;
    position: relative;
}

.datepickerBtn::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 1px;
    background: var(--grey);
    transition: .2s all;
}

.datepickerBtn:hover::after {
    width: 100%;
}

.datepicker--month {
    width: 250px;
    padding: 0 15px;
    justify-content: space-between;
}

.datepicker--year {
    width: 200px;
    padding: 0 15px;
    justify-content: space-between;
}

.datepicker--country {
    width: 200px;
    padding: 0 15px;
    justify-content: space-between;
}

.datepicker--country ~ .datepickerDropdown {
    width: 200px;
}

.label--date__input--country {
    margin-top: 5px;
}

.input--city {
    width: 250px;
}

.input--address {
    width: 220px;
}

.label--date--address {
    max-width: 720px !important;
}

.btn--userForm {
    width: 150px;
    height: 50px;
    font-size: 18px;
}

.label--phoneNumber {
    position: relative;
}

.label--phoneNumber .input {
    padding-left: 100px;
}

.phoneNumberBtn {
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 50px;
    width: 60px;
    background: transparent;
}

.phoneNumberBtn::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 1px;
    background: var(--grey);
}

.datepickerDropdown--phoneNumbers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.datepickerDropdown--phoneNumbers .datepickerBtn::after {
    right: 0;
    left: unset;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
}

.formBottom {
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 500px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 80px;
    width: calc(100% - 500px);
    height: 100px;
    background: #fff;
    justify-content: flex-start;
    z-index: 3;
}

.formBottom .info {
    margin: 15px 40px;
}

.btn--userFormBack {
    color: #000;
    background: #F3F9FB;
    margin-right: 30px;
}

.btn--userFormBack:hover {
    background: #E2E7E9;
    color: #000;
}

.label--date__input--education {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #C1C1C1;
}

.label--date__input--education .datepicker {
    margin-top: 5px;
}

.addNewBtn {
    margin: 30px 0;
    width: 500px;
    background: transparent;
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 6px;
    color: #C1C1C1;
    font-size: 16px;
    transition: .2s all;
}

.addNewBtn:hover {
    opacity: .8;
}

.addNewBtn .img {
    width: 15px;
}

.form__school {
    width: 1120px;
}

.form__school .label {
    width: 120px;
}

.form__school .label:first-of-type {
    width: 400px;
}

.form__school:not(.form__school--job) .label:nth-of-type(2) {
    width: 300px;
}

.form__school--job .label:nth-of-type(3),
.form__school .label:nth-of-type(4) {
    padding-top: 15px;
}

.form__school--job .label:nth-of-type(4) {
    padding-top: 0;
}

.deleteSchoolBtn {
    background: transparent;
    font-size: 24px;
    color: #000;
    width: 20px;
    opacity: .6;
}

.deleteSchoolBtn:hover {
    opacity: 1;
}

.form__school .label--checkbox {
    margin: 0;
}

.form__school--job {
    width: 880px;
}

.form__school--job .label:first-of-type {
    width: 420px;
}

.form__job .label--jobTitle {
    max-width: 300px;
}

.addNewBtn--responsibility {
    max-width: 200px;
}

.form__job .label--responsibility {
    max-width: 590px;
}

.form__job .label--responsibility .input {
    max-width: 90%;
}

.form__job .label--responsibility .deleteSchoolBtn {
    margin-left: 15px;
}

.form__school .label--checkbox {
    width: auto !important;
}

.languagesWrapper {
    padding-top: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 750px;
}

.drivingLicenceWrapper .label--checkbox,
.languagesWrapper .label--checkbox {
    width: auto;
    margin-right: 30px;
}

.label--checkbox--selected {
    text-decoration: underline;
}

.label--special {
    position: relative;
    width: 600px;
}

.input--special {
    margin-top: 10px;
    position: relative;
    border: none;
    border-bottom: 1px solid var(--primary);
    padding: 0;
    height: 30px;
    display: block;
    width: 600px;
    transform-origin: bottom;
    transition: .2s all;
}

.input--special:focus,
.input--special:active {
    height: 45px;
    padding: 5px 0;
}

.label--special::after {
    content: url("../img/pen.svg");
    width: 15px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.label--extraInfo {
    text-transform: none;
    font-size: 14px;
    margin: 10px 0;
    color: #000;
}

.languageLvl {
    text-transform: none;
    color: #000;
    justify-content: flex-start;
    margin-right: 40px;
}

.languageLvlWrapper {
    margin: 20px 0;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.label--date__input--languageLvl {
    margin: 8px 0 8px 15px;
}

.datepicker--languageLvl {
    width: 75px;
    height: 50px;
}

.flex--start {
    justify-content: flex-start;
}

.drivingLicenceWrapper {
    margin-top: 30px;
}

.drivingLicenceWrapper .label--checkbox {
    margin-top: 12px;
}

.w-100 {
    width: 100%;
    display: block;
}

.drivingLicenceCategoriesWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.drivingLicenceCategoriesWrapper .label--flex {
    width: auto !important;
    margin: 12px 30px 5px 0;
}

.form__job.flex .label {
    margin-bottom: 0;
}

.form__job.flex {
    max-width: 750px;
    margin-bottom: 20px;
}

.form__job.flex .deleteSchoolBtn {
    margin-left: 20px;
    transform: none;
}

.label--accommodationPlace {
    max-width: 550px !important;
}

.drivingLicenceWrapper--tools {
    width: 800px;
    max-width: 800px !important;
}

.salaryInputsWrapper {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
}

.salaryInputsWrapper .label {
    width: 120px;
    margin-right: 10px;
    margin-bottom: 0;
}

.salaryInputsWrapper .label:nth-of-type(2) {
    margin-left: 10px;
}

.datepicker--currency {
    width: 120px;
}

.userForm--5b .label--extraInfo {
    margin-bottom: 0;
}

.drivingLicenceWrapper--noMarginTop {
    margin: 0;
}

.drivingLicenceWrapper--salary {
    margin-top: 10px;
}

.label--category {
    max-width: 370px !important;
    align-items: center;
}

.label--category .datepicker--category {
    width: 300px;
}

.label--category .datepickerDropdown,
.label--date__input--category {
    width: 300px;
}

.label--date__input--bool {
    margin-top: 12px;
}

.label--date__input--drivingLicence {
    margin-top: 7px;
}

.label--date__input--bool,
.label--date__input--bool *
{
    max-width: 100px !important;
}

.bsnInputLabel {
    width: 275px;
    height: 50px;
    border: 1px dashed var(--primary);
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--grey);
    font-size: 12px;
    position: relative;
    justify-content: center;
    text-transform: none;
    margin: 10px 0 0 25px;
    transition: .2s all;
}

.bsnInputLabel .img {
    width: 15px;
    margin-right: 15px;
}

.input--file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.bsnInputLabel:hover {
    color: var(--primary);
}

.label--date .label--extraInfo--marginBottom {
    margin-bottom: 10px;
}

.bsnInputWrapper .deleteSchoolBtn {
    margin-left: 20px;
    margin-top: 10px;
}

.label--friendLink {
    width: 510px;
    margin-bottom: 30px;
}

.label--friendLink .input {
    max-width: 400px;
}

.input--textarea {
    resize: none;
    white-space: pre-wrap;
}

.input--textarea:active,
.input--textarea:focus {
    border-width: 2px;
    outline: none;
}

.input--situation {
    width: 900px;
    height: 280px;
    margin-bottom: 30px;
    padding: 15px;
}

.filesUploadLabel {
    width: 900px;
    position: relative;
    height: 100px;
    border: 1px dashed var(--primary);
    border-radius: 5px;
    margin-top: 20px;
    transition: .2s all;
}

.filesUploadLabel:hover {
    border-width: 2px;
}

.filesUploadLabel > .img {
    width: 50px;
}

.filesUploadLabel__item {
    height: 45px;
    width: auto;
    position: relative;
    margin: 0 30px;
}

.filesUploadLabel__item > .img {
    height: 100%;
    width: auto;
}

.removeAttachmentBtn {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary);
    border: none;
    cursor: pointer;
    transition: .2s all;
    z-index: 100;
}

.removeAttachmentBtn:hover {
    background: var(--hover);
}

.removeAttachmentBtn > .img {
    width: 50%;
}

.label--rel {
    position: relative;
    max-width: 900px !important;
}

.letterCounter {
    position: absolute;
    top: 0;
    right: 0;
}

.userForm--5d .info--error {
    width: 900px;
    text-align: center;
    margin: 15px 0 30px;
}

.mobileLanguageFooter,
.mobileHeader {
    display: none;
}

.oneline {
    white-space: nowrap;
}

.userForm--summary__header {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 32px;
}

.btn--userForm .img {
    width: 18px;
    margin-left: 10px;
    margin-bottom: -3px;
}

.userForm--summary__buttons {
    justify-content: flex-start;
}

.userForm--summary__buttons > *:not(:last-child) {
    margin-right: 20px;
}

.btn--white {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn--white:hover {
    background: #efefef;
}

.btn--widthAuto {
    width: auto !important;
    padding: 15px;
    text-align: center;
    height: auto !important;
    min-height: 50px;
}

.userForm--summary__header--marginTop {
    margin-top: 30px;
}

.userForm--1 .filesUploadLabel {
    max-width: 300px !important;
    height: auto;
    min-height: 60px;
}

.userForm--1 .filesUploadLabel > .img {
    width: 30px;
}

.filesUploadLabel__profileImage {
    width: 100%;
    position: relative;
}

.filesUploadLabel--noBorder {
    border: none;
}

.removeProfileImageBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: var(--primary);
    border-radius: 50%;
    transform-origin: center;
    transition: .2s all;
}

.removeProfileImageBtn:hover {
    transform: scale(1.15);
}

.removeProfileImageBtn .img {
    width: 50%;
    filter: brightness(0) invert(1);
}

.formBottom .center {
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
}

.formBottom .info--error {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}
